header{
    margin-bottom: 20px;
    text-align: center;
}

body footer{
    display: flex;
    margin: 5px;
    text-align: center;
}

main{
    display: grid;
    grid-template-areas: 
            "sd"
            "si"
            "se"
            "ps";
    height: 100%;
}

#description{
    grid-area: sd; /*Section Description*/
}

#ingredients{
    grid-area: si; /*Section Ingredients*/
}

#etapes{
    grid-area: se; /*Section Etapes*/
}

section{
    margin: 10px 15px;
    padding: 10px 10px;
    min-width: 300px;
    border-style: solid;
    border-radius: 10px;
    border-color: bisque;

    background-color: rgb(255, 241, 221);
}
#piedSection{
    margin: 5px;
    text-align: center;
    font-style: italic;
    justify-content: center;
    grid-area: ps; /*Pied Section*/
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-style: italic;
    text-shadow: 2px 2px grey ;
}

h2{
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    padding-bottom: 10px;
}

td{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: white;
}

thead td{
    background-color: lightgreen;
}

hr{
    margin: 20px 5px;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    max-width: 350px;
}

a{
    text-shadow: 1px 1px 1px;
}

a:hover{
    text-shadow: 2px 2px 3px;
}

.liste{
    margin-top: 1px;
}

.elemForm{
    display: flex;
    justify-content: flex-start;
    flex-grow: 2;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.inputTexte{
    flex: 2;
}

#imagePlat{
    width: 75%;
    max-width: 450px;
}

#nutri{
    display: block;
    box-align: center;
}

#lienOriginal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#basPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    background-color: lavender;
}

#formulaire{
    justify-content: center;
}

#legendForm{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

#texteCom{
    flex: 300px;
    justify-content: center;
}

#boutonsChoix{
    margin-top: 0;
    justify-content: space-evenly;
}

#btEnvoyer{
    width: 100px;
    height: 25px;
    font-weight: bold;
    margin-top: 5px;
    box-shadow: 2px 2px;
    background-color: greenyellow;
}

@media screen and (min-width : 768px){
    main{
        grid-template-areas:
            "sd sd"
            "si se"
            "ps ps"
            ;
    }
}